{:prod {:bootstrap-server       "http://localhost:9092"
        :service-authentication {:auth-server-base-url "https://example.com"
                                 :username             "service-name"
                                 :password             "random-password"}}
 :test {:bootstrap-server       "http://localhost:9092"
        :service                {:host "0.0.0.0"
                                 :port 8000}
        :topics                 ["test.example"]
        :rabbitmq-uri           "amqp://guest:guest@192.168.0.100:5672"
        :service-authentication {:auth-server-base-url "https://example.com"
                                 :username             "service-name"
                                 :password             "random-password"}}}
