{:prod {:bootstrap-server "http://localhost:9092"
        {:service-authentication {:auth-server-base-url "https://example.com"
                                  :username             "service-name"
                                  :password             "random-password"}}}}
