{:clean   {:ns-inner-blocks-indentation :same-line
           :sort                        {:ns      true
                                         :require true
                                         :import  false
                                         :refer   {:max-line-length 80}}}
 :lint-as {schema.test/deftest                   clojure.test/deftest}}
