{:prod {:bootstrap-server       "http://localhost:9092"
        :service-authentication {:auth-server-base-url "https://example.com"
                                 :username             "service-name"
                                 :password             "random-password"}}
 :test {:bootstrap-server                              "http://localhost:9092"
        :service-name                                  "test-service-name"
        :service                                       {:host "0.0.0.0"
                                                        :port 8000}
        :topics                                        ["test.example"]
        :dead-letter-queue-service-integration-enabled true
        :service-authentication                        {:auth-server-base-url "https://example.com"
                                                        :username             "service-name"
                                                        :password             "random-password"}}}
