name: Clojure CI - Unit and Integration Tests

on: [ push ]

jobs:
  test:
    name: Running Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu' # See 'Supported distributions' for available options
          java-version: '21'
      - name: Install dependencies
        run: lein deps
      - name: Run tests
        run: lein test
